@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@font-face{
    font-family: 'circular';
    src: url('./circular-bold.ttf');
}


.imageuploadify {
	border:2px dashed #d2d2d2;
	position:relative;
	min-height:350px;
	min-width:250px;
	max-width:1000px;
	margin:auto;display:
	flex;padding:0;
	flex-direction:column;
	text-align:center;
	background-color:#fff;
	color:#3AA0FF
}

.imageuploadify .imageuploadify-overlay {
	z-index:10;
	width:100%;
	height:100%;
	position:absolute;
	flex-direction:column;
	top:0;
	left:0;
	display:none;
	font-size:7em;
	background-color:rgba(242,242,242,.7);
	text-align:center;
	pointer-events:none
}

.imageuploadify .imageuploadify-overlay i{
	z-index:10;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	pointer-events:none
}

.imageuploadify .imageuploadify-images-list{
	display:inline-block
}

.imageuploadify .imageuploadify-images-list i{
	display:block;
	font-size:7em;
	text-align:center;
	margin-top:.5em;
	padding-bottom:12px
}

.imageuploadify .imageuploadify-images-list span.imageuploadify-message{
	font-size:24px;
	border-top:1px solid #3AA0FF;
	border-bottom:1px solid #3AA0FF;
	padding:10px;display:inline-block
}
.imageuploadify .imageuploadify-images-list button.btn-default{
	display:block;
	color:#3AA0FF;
	border-color:#3AA0FF;
	border-radius:1em;
	margin:25px auto;
	width:100%;max-width:500px
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container{
	width:100px;
	height:100px;
	position:relative;
	overflow:hidden;
	margin-bottom:1em;
	float:left;
	border-radius:12px;
	box-shadow:0 0 4px 0 #888
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container button.btn-danger{
	position:absolute;
	top:3px;
	right:3px;
	width:20px;
	height:20px;
	border-radius:15px;
	font-size:10px;
	line-height:1.42;
	padding:2px 0;
	text-align:center;z-index:3
}
.imageuploadify .imageuploadify-images-list .imageuploadify-container img{
	height:100px;
	left:50%;
	position:absolute;
	top:50%;
	transform:translate(-50%,-50%);width:auto
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details{
	position:absolute;
	top:0;
	padding-top:20px;
	width:100%;height:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	background:rgba(255,255,255,.5);
	z-index:2;
	opacity:0
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container .imageuploadify-details span{
	display:block
}

/* ----------------------- Search Bar ----------------------- */

.search-box {
	position: relative;
	height: 40px;
	width: 50px;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
	width: 350px;
}

.search-box input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background: #f4f4f4;
	font-size: 16px;
	border-radius: 50px;
	padding: 0 60px 0 20px;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
	opacity: 1;
}

.header-right {
	padding: 30px 55px;
  	float: right;
}

.header {
	padding-bottom: 30px;
}

.search-box .search-btn {	
	position: absolute;
	top:50%;
	right: 0px;
	z-index: 1;
	transform: translateY(-50%);
	height: 40px;
	width: 40px;
	color: #fff;
	background: #007ca7;
	line-height: 40px; 
	font-size: 18px;
	text-align: center;
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-btn.active {
	right: 4px;
	height: 30px;
	width: 30px;
	color: #3D3D3D3;
	background: #007ca7;
	line-height: 30px; 
	font-size: 16px;
	transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-btn {	
	position: absolute;
	color: #808080;
	top:50%;
	right: 15px;
	transform: translateY(-50%);
	font-size: 20px;
	cursor: pointer;
	transition: all 0.5s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-btn.active {	
	right: -30px;
	transform: translateY(-50%) rotate(360deg);

}

/* ----------------------- Search Bar (end) ----------------------- */

.heading1 {
	font-family: 'circular';
	font-size: 28px;
	color: #18194f;
}

.heading2 {
	font-family: 'circular';
	font-size: 20px;
	color: #000000;
}

.form-control{
	border-color: #18194f;
	font-family: 'circular';
	float: right;
}

label {
	font-size: 20px;
	font-family: 'circular';	
	margin-right: 5%;
	float: left;
}

p {
	font-size: 20px;	
	display: inline-block;
}

.max-word{
	color: grey;
	font-size: 10px;
}

.btn-primary{
	font-family: 'circular';
	font-size: 25px;
	background-color: #005597;
	color: white;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 50px;
}

.submit-button{
	font-family: 'circular';
	font-size: 25px;
	color: white;
	text-align: center
}

#field {
	margin-left: 33.3%;
}


