@font-face {
    font-family: 'circular';
    src: url('./circular-bold.ttf');
}

html {   
    width: 100%;   
    height: 100%;   
    overflow: hidden;   
    font-style: sans-serif;   
}  

body {
    width: 100%;   
    height: 100%;   
    font-family: 'circular';   
    height: 1000px;
    background: -webkit-linear-gradient(white,#007CA7);
    background: -o-linear-gradient(white,#007CA7);
    background: -moz-linear-gradient(white,#007CA7);
    background: linear-gradient(white,#007CA7);
}


h1 {   
    color: black;   
    font-size: 2.5em;   
    margin-top: 5%;
    letter-spacing: 1px;   
    text-align: center;
}   

input {   
    width: 278px;   
    height: 18px;   
    margin-bottom: 10px;   
    outline: none;   
    padding: 10px;   
    font-size: 13px;   
}   

.form-control {
    /* width: 425px;
    height: 35px; */
    width: 95%;
    border: gray 2px solid;
    border-radius: 5px;
    margin-bottom: 1%; 
    margin-top: 1%;
}

.container {
    background-color: white;
    filter: opacity(0.85);
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    padding-left: 2.5%;
}

#form_table {
    padding-left: 58%;
}

.btn-primary {
    border-radius: 10px;
    background-color: #005597;
}