/*------------------------------------- Whole Page ---------------------------------*/
@font-face{
    font-family: 'circular';
    src: url('./circular-bold.ttf');
}

body {
	font-family: 'circular';
	font-size: 12px;
}

/*-------------------------- Top navigation and Search Bar ------------------------*/
.navbar {
	top: 0;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 5%;
}

a.navbar-brand {
	padding-top: 0px;
	margin-top: 0px;
	top: 0;
}

.logo {
	margin-top: 0px;
}

.search-box {
	position: relative;
	height: 40px;
	width: 50px;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
	width: 350px;
}

.search-box input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background: #f4f4f4;
	font-size: 16px;
	border-radius: 50px;
	padding: 0 60px 0 20px;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
	background-color: rgb(235, 235, 235);
	opacity: 1;
}

.search-box .search-btn {	
	position: absolute;
	top: 50%;
	right: 0px;
	z-index: 1;
	transform: translateY(-50%);
	height: 40px;
	width: 40px;
	color: #fff;
	background: #007ca7;
	line-height: 40px; 
	font-size: 18px;
	text-align: center;
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-btn.active {
	right: 4px;
	height: 30px;
	width: 30px;
	color: #D3D3D3;
	background: #007ca7;
	line-height: 30px; 
	font-size: 16px;
	transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-btn {	
	position: absolute;
	color: #808080;
	top:50%;
	right: 15px;
	transform: translateY(-50%);
	font-size: 20px;
	cursor: pointer;
	transition: all 0.5s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-btn.active {	
	right: -30px;
	transform: translateY(-50%) rotate(360deg);
}

.fa-search {
	color: white;
}

div#logged-in {
    font-size: 14px;
}

/*---------------------------------- Side Menu Bar --------------------------*/
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

#sidebar {
    width: 310px;
	height: 100vh;
    position: fixed;
	top: 90px;
    left: -310px;
    z-index: 999;
    background-color: #18194f;
    color: #fff;
    transition: all 0.5s;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
	overflow-y: scroll;
}

#sidebar.active {
    left: 0;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(87, 87, 87, 0.8); 
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    background-color: #18194f;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 12px;
    font-size: 15px;
    display: block;
}

#sidebar ul li a:hover {
    color: #1a296b;
    background: white;
}

i {
    color: #009bbd;
    margin-right: 3%;
}

i.fa-bars {
    color: #007ca7;
}

i.fa-times {
	cursor: pointer;
	font-size: 16px;
	color: #009bbd;
}

div.cancel-btn {
	text-align: right;
}

h3 {
    margin-bottom: 10px;
    color: #009bbd;
}

hr.white {
    border-width: 0;
    height: 0.5px;
    color: #47748b;
    background-color: #47748b;
}

a.close {
    width: 25px;
    height: 25px;
    color: white;
}

a#sidebarCollapse:hover {
    color: white;
}

button#dashboard {
	background-color: white;
	color: #18194f;
	border-color: #009bbd;
	border-width: 1px;
	width: 200px;
	margin-bottom: 3%;
	margin-left: 15%;
}

button#upload-project {
	background-color: #007ca7;
	border-color: transparent;
	color: white;
	width: 200px;
	margin-left: 15%;
	margin-bottom: 35%;
}

/*----------------------------------------- Content --------------------------------*/
#content {
    width: 100%;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 0;
    transition: all 0.3s;
    position: absolute;
    top: 100px;
    right: 0;
}

/*-------------------------------------- Footer -------------------------------------*/
footer{
	bottom: 0;
	background: linear-gradient(to right, #18194f, #009bbd);
	color: white;
	width: 100%;
	font-family: 'circular';
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

a {
	color: white;
}

a:hover {
	color: #d3d3d3;
}

.copyright{
	text-align: center;
}

.container .p-4{
	width: 100%;
	margin: 2%;
}

.column{
	width: 30%;
	margin: 0%;
}

footer.btn {
	border-radius: 5px; 
	border: white 2px;
	color: white;
	background-color: transparent; 
}

.btn-outline-light:hover {
	color: #18194f;
}

a#login-button:hover {
	color: #18194f;
}

h5 {
    font-size: 14px;
}

/*------------------------------- Small navigation bar ---------------------------*/
#small-navbar {
	padding: 5px;
	margin-bottom: 5%;
}

button#toggle-menu {
	padding: 5px;
	width: 150px;
	margin: 5px;
	border-color: #009bbd;
}

button#toggle-menu:hover {
    background-color: #009bbd;
    color: white;
}

a.dropdown-item {
	font-size: 12px;
}

i.fa-bars:before {
	color: #1a296b;
}


/*-------------------------------------- Flip card ----------------------------------*/
/* Table of flip card */
table {
	text-align: center;
	width: 100%;
}

/* Flip card */
img.card-picture {
	max-height: 350px;
    max-width: 350px;
	/* Position the image in center vertically and horizontally */
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flip-box {
	margin-top: 7.5%;
    margin-bottom: 7.5%;
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
    border-color: transparent;
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 5%;
}

.flip-box-front {
    background-color:black;
    color: white;
}

.flip-box-back {
    padding-top: 12px;
    background-color: black;
    color:  #1a296b;
    transform: rotateY(180deg);
}
/* Style the Image Used to Trigger the Modal */
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  top:100px;  /* because of top navigation bar */
  margin: auto;
  display: block;
  max-width: 80%;

}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 105px;  /* because of top navigation bar */
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

.btn-info {
    border-radius: 10px;
    font-size: 11px;
    background-color: #009bbd;
    border-width: 0;
    left: 153px;
    bottom: 30px;
}

.btn-info:hover {
    background-color: #1a296b;
    border-width: 0;
}

div.title {
    max-width: 375px;
    height: 100px;
    text-align: center;
}

p.project-title {
    font-size: 17px;
    color: #18194f;
    text-align: center;
}

div.learn-more {
    max-width: 375px;
    text-align: center;
}

div#pages-button {
    display: inline-block;
    width: 100%;
    text-align: right;
}

p#previous, p#next, p#bar {
    display: inline-block;
    font-size: 14px;
}

p#previous, p#bar {
    margin-right: 1%;
}

p#previous, p#next {
    cursor: pointer;
}

p#previous:hover, p#next:hover {
    color: #007ca7;
}
