
/* ----------------------- upload project (start) ----------------------- */
.form-control{
	border-color: #18194f;
	font-family: 'circular';
}

label {
	font-size: 20px;	
	margin-right: 5%;
}

.upload{
	text-align: center;
}

.upload-artefact{
	font-family: 'circular';
	font-size: 30px;
	color: #18194f;
	text-align: center;
}
.max-word{
	color: grey;
	font-size: 10px;
	margin-left: 5%;
}
.count{
	color: grey;
	font-size: 10px;
	margin-right: 20%;
}

.btn-primary{
	font-family: 'circular';
	font-size: 20px;
	background-color: #005597;
	color: white;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 50px;
	border-radius: 10px;
}

.submit-button{
	font-family: 'circular';
	font-size: 16px;
	color: white;
	text-align: center
}

.max {
	font-size: 12px;
	color: gray;
}

p {
	font-size: 20px;	
	display: inline-block;
}

p.word_count {
	font-size: 15px;
}

div.count {
	width: 100%;
	text-align: right;
	margin-right: 2%;
}

#field {
	margin-left: 33.3%;
}

/******** table start **********/
.table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

thead {
    background: linear-gradient(to right, #18194f, #009bbd);
	color: white;
}

.table-hover tbody tr:hover {
    background-color: rgb(159, 218, 231);
}
/********* table end ***********/

/* ----------------------- upload project (end) ----------------------- */
