@font-face{
    font-family: 'circular';
    src: url('./circular-bold.ttf');
}

body {
    font-family: 'circular';
}

h2 {
    color: #1a296b;
    text-align: center;
}

.table { 
    margin-left: auto;
    margin-right: auto;
}

thead {
    background: linear-gradient(to right, #18194f, #009bbd);
	color: white;
}

.table-hover tbody tr:hover {
    background-color: rgb(159, 218, 231);
}
