<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <!-- Own CSS Link HERE -->
        
        <title>Login page</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}"/>
</head>
  <body>
    
      <!-- <img src="logo.jpg" width=243px height=90px>-->

      <img src="{% static 'images/logo.jpg' %}" alt="something went wrong" width=243px height=90px>
      <!-- the code for wrong password -->

      {% if wrongpassword %}
                    <p>do this cuz not wrong password</p>
      {% else %}
                    <p>do this cuz wrong password</p>
      {% endif %}


      {% if user.is_authenticated %}
            <h1>Welcome {{ user.username }}!</h1>
            <h1>You are logged in.</h1>
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      {% else %}

      <!-- <div id="container">
            <h1>Please Login</h1> -->
      <h1>Login Page</h1>

      <div class="container">

            <form method="post" action="{% url 'home_page:user_login' %}">
                {% csrf_token %}
              <br>
                  <div>
                    <div>Username</div>
                    <input type="text" id="username" class="form-control" name="username" placeholder="&nbsp;&nbsp;username123@nottingham.edu.cn">
                    <br><br>
                  </div>

                  <div>
                    <div>Password</div>
                    <input type="password" id="password" class="form-control" name="password" placeholder="&nbsp;&nbsp;12345678">
                    <br>
                  </div>

                  <div id="form_table">
                    <table>
                      <tr>
                        <td><button type="submit" id="submit" class="btn btn-primary" style="margin-right: 6px";>Cancel</button></td>
                        <td><button type="submit" id="submit" value = "Login" class="btn btn-primary">Submit</button></td>
                      </tr>
                    </table>
                  </div>
            </form>
      </div>
      {% endif %}


      <!-- Bootstrap Javascript -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>