<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>searchBar test</title>
</head>
<body>
    <form action = "{% url 'searchbar' %}" method ="get">
        <input type="text" name="search"/>
        <button type="submit">Search</button>
    </form>

    {% if post %}
        <h1> item found</h1>
        <br>
    {% for i in post %}
        {{ i.name }}, {{ i.videofile }}
    <source src='{{ MEDIA_URL }}{{ i.videofile  }}' type='video/mp4'>
    <video width='400' controls>
        <source src="{{ MEDIA_URL }}{{ i.videofile  }}" type='video/mp4'>
        Your browser does not support the video tag.
    </video>
    <br>
    {% endfor %}
    {% endif %}

</body>
</html>