<!doctype html>
{% load static %}
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

        <!-- Own CSS Link HERE -->
        
        <title>Welcome Page</title>

		<!-- ------ADDED!!!  ---
		<link rel="stylesheet" href="WelcomePage.css">
        <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
-->
        <link rel="stylesheet" href="{% static 'css/WelcomePage.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}"/>
<!------ end of ADDED --------->
  </head>

  <body>

  <div class="header">
    <!---- <a href="WelcomePage.html" class="logo"><img src="../images/UoN_logo.jpg" width=243px height=90px alt=""></a>
      -->
    <img src="{% static 'images/logo.jpg' %}" alt="something went wrong" width=243px height=90px>
        <!-- A problem here as the searh button symbol and cancel button symbol does not appear -->
    <div class="header-right">
       <div class="search-box">
        <input type="text" placeholder="Type to search...">
        <div class="search-btn">
          <i class="fas fa-search"></i>
        </div>
        <div class="cancel-btn">
          <i class="fas fa-times"></i>
        </div>
     </div>
    </div>

    <script>
      const searchBtn = document.querySelector(".search-btn");
      const cancelBtn = document.querySelector(".cancel-btn");
      const searchBox = document.querySelector(".search-box");
      const searchInput = document.querySelector("input");
    
      searchBtn.onclick = () =>{
        searchBox.classList.add("active");
        searchInput.classList.add("active");
        searchBtn.classList.add("active");
        cancelBtn.classList.add("active");
      }

      cancelBtn.onclick = () =>{
        searchBox.classList.remove("active");
        searchInput.classList.remove("active");
        searchBtn.classList.remove("active");
        cancelBtn.classList.remove("active");
        searchInput.value = "";
      }

    </script>
    
  </div>


<!---------------------- ADDED ---------------->
    <footer>
    <div class = "footer">
       	<!-- Grid container -->
  		<div class="container p-4">
    		<!--Grid row-->
    		<div class="row">
      			<!--Grid column-->
      			<div class="column">
        			<h5>Address</h5>

        			<p>University of Nottingham Ningbo China<br>
          			199, Taikang East Road Ningbo,<br>
          			315100, China</p>
        		</div>
      			<!--Grid column-->

      			<!--Grid column-->
        		<div class = "column">
        			<h5>Essentials</h5>

        			<ul class="list-unstyled">
        				<li><a href = "#!">Nottingham Advantage Award</a></li>
        				<li><a href = "#!">Contact Us</a></li>
        			</ul>
        		</div>
        		<!--Grid column-->

        		<!--Grid column-->
        		<div class = "column">
        			<h5>Artefact portal</h5>
                    <!-- This part is to check in homepage if user is logged in , might add other stuff to go to
                    profile and uploading page -->
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-outline-light"><a href="{% url 'logout' %}">Logout</a></button>
                            <p><br>Logged in as : {{ user.username }}!</p>
                        {% else %}
                            <button type="button" class="btn btn-outline-light"><a href="{% url 'loginPage' %}">Login</a></button>
                        {% endif %}
                        <!--
					    <button type="button" class="btn btn-outline-light"><a href="loginpage.html">Login</a></button>
					    -->
        		</div>
        		<!--Grid column-->
    		</div><!--Grid row-->
  		</div><!-- Grid container -->

        <!-- copyright -->
        <div class = "copyright">
       		© All rights reserved
    	</div>
        <!-- copypright -->
    </div>
    </footer> 
<!---------------------- end of ADDED ---------------->

        <!-- Bootstrap Javascript -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  </body>
</html>