@font-face{
    font-family: 'circular';
    src: url('./circular-bold.ttf');
}

body {
    font-family: 'circular';
}

h2 {
    color: #1a296b;
    text-align: center;
}

.table {
    width: 75%;
    margin-left: 150px;
}

thead {
    background: linear-gradient(to right, #18194f, #009bbd);
	color: white;
}

.table-hover tbody tr:hover {
    background-color: rgb(159, 218, 231);
  }


div.card {
    width: 12rem;
    height: 10rem;
    background-color: #007ca7;
    border-radius: 15px;
    border-width: 2px;
    border-color: #18194f;
    font-size: 12px;
    color: white;
    text-align: center;
}

hr {
    border-top: 1px solid #1a296b;
}
  
p {
    font-size: 16px;
}

div.row {
    width: 750px;
    margin-left: 400px;
}

div.col {
    padding-right: 8px;
    padding-left: 8px;
    width: 200px;
}

img {
    width: 70px;
    height: 55px;
}