

/******************FOOTER *********************/
/* '@import' is used to import the colour gradient used in the footer backgound */


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
@font-face{
    font-family: 'circular';
    src: url('./circular-bold.ttf');
}

body {
	font-size: 12px;
}

h5 {
	font-size: 14px;
}

footer{
	position: fixed;
	bottom: 0;
	background: linear-gradient(to right, #18194f, #009bbd);
	color: white;
	width: 100%;
	font-family: 'circular';
}

a {
	color: white;
}

a:hover {
	color: #d3d3d3;
}

.copyright{
	text-align: center;
}
.container .p-4{
	width: 100%;
	margin: 2%;
}
.column{
	width: 30%;
	margin: 0%;
}
footer.btn {
	/* for border of button
	border-style: solid;
	border-color: white;*/
	border-radius: 5px;   /* rounded corner */
	border: white 2px;
				
	color: white;
	background-color: transparent; /* transparent button background */
}

/* ----------------------- Search Bar ----------------------- */

.search-box {
	position: relative;
	height: 40px;
	width: 50px;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box.active {
	width: 350px;
}

.search-box input {
	height: 100%;
	width: 100%;
	border: none;
	outline: none;
	background: #f4f4f4;
	font-size: 16px;
	border-radius: 50px;
	padding: 0 60px 0 20px;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box input.active {
	opacity: 1;
}

.header-right {
	padding: 30px 55px;
  	float: right;
}


.header {
	padding-bottom: 30px;
}

.search-box .search-btn {	
	position: absolute;
	top:50%;
	right: 0px;
	z-index: 1;
	transform: translateY(-50%);
	height: 40px;
	width: 40px;
	color: #fff;
	background: #007ca7;
	line-height: 40px; 
	font-size: 18px;
	text-align: center;
	border-radius: 40px;
	cursor: pointer;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .search-btn.active {
	right: 4px;
	height: 30px;
	width: 30px;
	color: #D3D3D3;
	background: #007ca7;
	line-height: 30px; 
	font-size: 16px;
	transform: translateY(-50%) rotate(360deg);
}

.search-box .cancel-btn {	
	position: absolute;
	color: #808080;
	top:50%;
	right: 15px;
	transform: translateY(-50%);
	font-size: 20px;
	cursor: pointer;
	transition: all 0.5s 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box .cancel-btn.active {	
	right: -30px;
	transform: translateY(-50%) rotate(360deg);

}

/* ----------------------- Search Bar (end) ----------------------- */

